.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(20, 20, 20);
    height: 100px;
    margin-top: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
}