.nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
}

.nav > * {
    width: 33%;
    display: flex;
    align-items:center;
}

.nav > label{
    justify-content: flex-start;
}

.nav > .logo {
    justify-content: center;
    font-size: 22px
} 

.nav > .right {
    justify-content: flex-end;
    gap: 20px;
    text-decoration: none;
}
.nav a, .nav a:visited{
    text-decoration: none;
    color: #007bff!important;
}
.nav a:hover{
    color: blue;
}

.nav input {
    box-sizing: border-box;
    height: 30px;
    border: 1px solid rgb(201, 201, 201);
    outline: 0;
    font-size: 16px;
    width: 140px;
    border-radius: 5px;
    padding-left: 10px;
}